.info-banner {
    max-width: 1440px;
    margin: 0 auto;
    background: #241323;
    color: #FFFFFF;
    padding: 22px 20px;
    overflow: hidden; 
    white-space: nowrap;
    position: relative;
}

.info-banner-content {
    display: inline-block;
    animation: scroll-left 40s linear infinite; 
}

.info-banner span {
    font-size: 22px;
    margin: 0 30px; 
}

.dot {
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}


@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%); 
    }
}

@media (max-width: 768px) {
    .info-banner {
        padding: 16px 20px;
    }
    .info-banner span {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .info-banner {
        padding: 12px 20px;
    }
    .info-banner span {
        font-size: 16px;
    }
}
